BODY { 
	background: white;
    font-family: Arial, Helvetica, sans-serif;
}
P { 

font-style: normal;  font-size: 12px; color: #333333; text-align: justify }

TD {  
font-style: normal;  font-size: 12px; color: #333333}

li {  
font-style: normal;  font-size: 12px; color: #333333}

ul {  
font-style: normal;  font-size: 12px; color: #333333}

H1 {  
font-size: 18px; font-style: normal; color: #f7ad31; font-weight: bold}

H2 {  
font-size: 14px; font-style: normal; color: #1341AF; font-weight: bold}

H3 {
    text-indent: 40px;
    font-size: 12px; 
    font-style: normal; 
    color: #1341AF; 
    font-weight: bold;
}

// TABLE[rules=rows] TD { border-top: solid }

TABLE[rules=rows]    { //border-collapse: collapse; 
                       border: solid #0066B2; 
                       border-color: #0066B2; 
}


.warning { 
    TEXT-DECORATION: none;
    font-size: 18px;
    color: red; 
    text-indent: 40px;
    font-weight: bold;
}

.cadre { 
    text-decoration: none;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 150px;
    background-color: #f0ece5; 
    padding:8px; 
    color: #333333; 
    font-weight: normal;
    border: 2px solid #F7AD31
}


UL.zc_ref { 
    font-size: 12px;
    margin-left: 50px;
    margin-right: 150px;
    background-color: #f0ece5; 

    padding: 8px 8px 8px 2em; 

    color: #333333; 
    font-weight: normal;
    border: 2px solid #f7ad31
}

SPAN.zc_ref { 
  font-weight: bold;
}

TABLE.zc_domain {
    border-collapse: collapse;
}

TABLE.zc_domain TD {
    padding: 5;
}

TR.zc_zone { 
    background-color: #ddeeee;
    font-weight: bold;
}

TR.zc_ns_sec { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0ece5;
}

TR.zc_ns_prim { 
    background-color: #E4DCCA;
}

TABLE.zc_options {
    background-color: #e0ffff;
}

TABLE.zc_options TR.zc_title {
    background-color: #e2eeff;
}

BLOCKQUOTE.zc_warning {
    background-color: #eeeeee;
    border: solid red;
    color: black;
}

TABLE.zc_help TD.zc_key {
    vertical-align: top;
}
