BODY { 
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

P { 
    font-style: normal;  
    font-size: 12px; 
    color: #333333; 
    text-align: justify 
}

TD {  
     font-size: 12px; color: #333333
}

li {  
 font-size: 12px; color: #333333}

ul {  
 font-size: 12px; color: #333333}

H1 {  
font-size: 18px; color: #f7ad31; font-weight: bold}

H2 {  
font-size: 14px; color: #1341AF; font-weight: bold}

H3 {
    font-size: 12px; 
    color: #1341AF; 
    font-weight: bold;
}

// TABLE[rules=rows] TD { border-top: solid }

//TABLE[rules=rows]    { //border-collapse: collapse; 
//                       border: solid #0066B2; 
//                       border-color: #0066B2; 
//}

IMG.zc_logo { 
  float: right;
  margin-left: 0;
}

.zc_warning { 
    text-decoration: none;
    font-size: 18px;
    color: red; 
    text-indent: 40px;
    font-weight: bold;
}


UL.zc_ref { 
    font-size: 12px;
    margin-left: 2ex;
    margin-right: 150px;
    background-color: #f0ece5; 

    padding: 8px 8px 8px 2em; 

    color: #333333; 
    font-weight: normal;
    border: 2px solid #f7ad31
}

UL.zc_details { 
    font-size: 12px;
    margin-left: 2ex;
    margin-right: 150px;
    background-color: #f0ece5; 

    padding: 8px 8px 8px 2em; 

    color: #333333; 
    font-weight: normal;
    border: 2px solid #f7ad31
}

DIV.zc_zinfo {
    padding-left: 5ex;
}


/*
 * Progress bar
 */

DIV#zc_pgr_pbar { 
    margin-left: 5ex;
}

TABLE#zc_pgr_pbar_out { 
    border: 1px solid black;
}

TABLE#zc_pgr_pbar_in { 
    margin: 5px;
}


/*
 */
UL.zc_test { 
    padding-left: 5ex;
    list-style-type: none;
}

/* 
 * The diagnostic box
 */
DIV.zc_diag { 
    padding-left: 5ex;
}

DIV.zc_diag DIV.zc_title { 
    font-size: 12px; 
    color: #1341AF; 
    font-weight: bold;
}


DIV.zc_diag1 TABLE TR.zc_title { 
    background-color: #ddeeee;
}




DIV.zc_status { 
    padding-left: 5ex;
    font-weight: bold;
}



SPAN.zc_ref { 
  font-weight: bold;
}

TABLE.zc_domain {
    border-collapse: collapse;
    border: solid #0066B2; 
}

TABLE.zc_domain TD {
    padding: 5;
}

TR.zc_zone { 
    background-color: #ddeeee;
    font-weight: bold;
}

TR.zc_ns_sec { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0ece5;
}

TR.zc_ns_prim { 
    background-color: #e4dcca;
}

TABLE.zc_options {
    border: solid #f5b13d;
    background-color: #f0ece5;
}
TABLE.zc_options TD {
    padding: 2px 1ex;
}

TABLE.zc_options TR.zc_title {
    background-color: #e4dcca;
}

BLOCKQUOTE.zc_warning {
    background-color: #eeeeee;
    border: solid red;
    color: black;
}

BLOCKQUOTE.zc_error {
    background-color: #eeeeee;
    border: double red;
    color: black;
}

TABLE.zc_help TD.zc_key {
    vertical-align: top;
}

// .bleu { color: #0066b2 }
// .bleuvif { color: #1341AF }
// .orange { color: #f5b13d }
// .orangevif { color: #FF5809 }
// .creme { color: #f0ece5 }
// .cremefonce { color: #e4dcca }

