/*
 *
 */
BODY { 
        background: white;
}
P { font-family: Arial, Helvetica, sans-serif; font-style: normal;  font-size: 1
2px; color: #333333; text-align: justify }

TD {  font-family: Arial, Helvetica, sans-serif; font-style: normal;  font-size:
 12px; color: #333333}

li {  font-family: Arial, Helvetica, sans-serif; font-style: normal;  font-size:
 12px; color: #333333}

ul {  font-family: Arial, Helvetica, sans-serif; font-style: normal;  font-size:
 12px; color: #333333}

H1 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: no
rmal; color: #f7ad31; font-weight: bold}

H2 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: no
rmal; color: #1341AF; font-weight: bold}

H3 {  font-family: Arial, Helvetica, sans-serif; 
        text-indent: 40px;
        font-size: 12px; 
        font-style: normal; 
        color: #1341AF; 
        font-weight: bold }

.warning { 
    TEXT-DECORATION: none;
    text-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: red; 
    text-align: center;
    font-weight: bold;
}

.cadre { 
    TEXT-DECORATION: none;
    text-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 150px;
    background-color: #f0ece5; 
    padding:8px; 
    color: #333333; 
    font-weight: normal;
    border: 2px solid #F7AD31
}

TABLE.zc_domain {
    border-collapse: collapse;
}

TR.zc_zone {
    background-color: #e8e8e8;
}

TR.zc_ns_prim {
    background-color: #ce995c;
}

TR.zc_ns_sec {
    background-color: #d3ab5b;
}

TABLE.zc_options {
    background-color: #e0ffff;
}

TABLE.zc_options TR.zc_title {
    background-color: #e2eeff;
}

BLOCKQUOTE.zc_warning {
    background-color: #eeeeee;
    border: solid red;
    color: black;
}

TABLE.zc_help TD.zc_key {
    vertical-align: top;
}
